html,
body,
.pf-grid-container {
  height: 100%;
  margin: 0;
}

.pf-grid-container {
  display: grid;
  grid-template-columns: 0.6fr 1.7fr 0.7fr;
  grid-template-rows: 0.2fr 0.5fr 0.3fr 4.3fr 0.5fr 0.2fr;
  gap: 1px 1px;
  grid-template-areas: 'DNU pf-DNU pf-SULI' 'pf-LOGO pf-Title pf-Title' 'Menu-Bar Menu-Bar Menu-Bar' 'pf-Sidebar pf-Main pf-Main' 'pf-Info1 pf-Info2 pf-Info3' 'pf-Footnotes pf-Footnotes Footnotes';
}

.pf-DNU {
  grid-area: pf-DNU;
}

.pf-SULI {
  grid-area: pf-SULI;
}

.pf-Title {
  grid-area: pf-Title;
}

.pf-LOGO {
  grid-area: pf-LOGO;
}

.pf-Menu-Bar {
  grid-area: pf-Menu-Bar;
}

.pf-Main {
  grid-area: pf-Main;
}

.pf-Sidebar {
  grid-area: pf-Sidebar;
}

.pf-Info1 {
  grid-area: pf-Info1;
}

.pf-Info2 {
  grid-area: pf-Info2;
}

.pf-Info3 {
  grid-area: pf-Info3;
}

.pf-Footnotes {
  grid-area: pf-Footnotes;
  text-align: center;
}

/* For presentation only, no need to copy the code below */
/* .pf-grid-container * {
  border: 1px solid red;
  position: relative;
}

.pf-grid-container *:after {
  content: attr(class);
  position: absolute;
  top: 0;
  left: 0;
} */
