{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue"></script>
    <title>Project:Feed</title>
</head>
<header>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <!--BTNBAR-->
    <div class="btnbar">
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    {% else %}
        <p>Welcome, new user. Please log in.</p>
    {% endif %}
        <a href="/signin"><button class="btn btn-outline-light">Sign-in</button></a>
        <a href="/signup"><button class="btn btn-outline-light">Sign-up</button></a>
    <!-- NAVBAR -->
    <div class="navbar">
        <header>
            <a href="/" class="navtop">Project:Feed</a>
            <div class="toggle"></div>
        </header>
        <div class="content">
            <ul>
                <li class="nav-item">
                    <a class="nav-link" href='/about'>About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/roulette'>Roulette</a>
                </li>
            </ul>
        </div>
    </div>
    <!--SEARCH-->
    <div class="search">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search.." aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</header>
    <!--BODY-->
<body>
{% block content %} {% endblock %}
</body>

<footer>
    <!--FOOTBAR-->
    <div class="foot">Created by Allyson Phillips 2020</div>
</footer>

</html>

