{% extends 'index.html' %} {% block content %} {% comment %}
<div>
    <h3>Under Construction</h3> {% endcomment %}
    <div v-for="location in locations" :key='location.id' class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">[[location.name]]</h5>
            <p class="card-text">[[location.website]]</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class='list-group-item'>Address: [[item.address]]</li>
            <li class='list-group-item'>City: [[item.city]]</li>
            <li class='list-group-item'>Phone: [[item.phone]]</li>
            <li class='list-group-item'>Opens: [[item.biz_open]]</li>
            <li class='list-group-item'>Closes: [[item.biz_close]]</li>
        </ul>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: {
                currentLocation: [],
                locations: []
            },
            methods: {
                getLocations() {
                    console.log('Getting Locations')
                    axios({
                            method: 'get',
                            url: '/api/v1/locations/?format=json',
                        })
                        .then(response => {
                            this.locations = response.data
                            var randomIndex = Math.floor(Math.random() * this.locations.length)
                            this.currentLocation.push(this.locations[randomIndex])
                        })
                }
            },
            mounted: function() {
                this.getLocations()
            }
        })
    </script>
</div>
{% endblock %}