{% extends 'index.html' %} {% block content %}
<div id=app>
    <div class="Sign-In">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card m-5">
                    <div class="card-body">
                        <h5 class="card-title">Sign In</h5>
                        <form method="post" action="/auth/login">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username"><b>Email Address</b></label>
                                <input type='text' placeholder='Enter Email Address' name='username' required>
                            </div>
                            <div class="form-group">
                                <label for='pass'><b>Password</b></label>
                                <input type="password" placeholder="Enter Password..." name="pass" required>
                            </div>
                            <button type="submit"> Log-In</button>
                            <label><input type="checkbox" checked="checked" name="rememberme" Remember Me /></label>
                            <button type='button' class='cncl-btn'>Cancel</button>
                            <a href="#"><span class="pass">Forgot Password?</span></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let app = new Vue({
        el: '#app',
        delimiters: ['[[', ']]'],
        data: {
            profile: [],
            new_user: {
                'user': '',
                'name': '',
                'favorites': '',
                'email_regex': '',
                'email': '',
                'registration': '',
                'links': '',
                'image': '',
            },
        },
        methods: {
            getUser() {
                axios({
                        method: 'get',
                        url: '/api/v1/profile/',
                    })
                    .then(response => this.profile = response.data)
            }
        },
        mounted: function() {
            //this.getUser()
        }
    })
</script>
{% endblock %}